################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectManagementAPI/.vs/ProjectManagementAPI
/ProjectManagementAPI/ProjectManagementAPI/obj
/ProjectManagementApp/node_modules
/ReactProjectManagementAppWebAPI/.vs/ReactProjectManagementAppWebAPI
/ReactProjectManagementAppWebAPI/ReactProjectManagementAppWebAPI/bin/Debug/netcoreapp3.1/
/ReactProjectManagementAppWebAPI/ReactProjectManagementAppWebAPI/obj/Debug/netcoreapp3.1/
/ReactProjectManagementAppWebAPI/.vs/ProjectEvaluation
